* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.numbers {
    margin: 80px auto;
    background-color: pink;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.number {
    text-align: center;
    background-color: red;
    margin: 20px;
    padding: 20px 0;
}

.number:hover {
    color: white;
    background-color: rgb(161, 6, 6);
}

.disabled {
    text-decoration: line-through;
    color: gray;
    pointer-events: none;
    border: 1px solid gray;
}

#game, .attempts, .feedback, #main-heading, #main-p {
    text-align: center;
}

#new-game {
    padding: 15px 10px;
    background-color: black;
    color: white;
    margin-bottom: 20px;
}

#new-game:hover {
    background-color: red;
}